.authorization-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  background-color: #d1cfcf;
  border-radius: 30px;
  box-shadow: 10px 13px 20px 2px #8f8e8e;
}

.text-default {
  margin-bottom: 25px;
  width: 280px;
  border: none;
  background-color: #9e9595;
  border-radius: 10px;
  outline: none;
}

.authorization-buttons {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.button-default {
  width: 120px;
  height: 30px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  color: #ffffff;
  background-color: #0d6efd;
  transition: 0.3s all;
}

.button-default:hover {
  background-color: #0956ca;
}
