Form.Label {
  border: 2px red solid;
}

.back {
  margin: 10px 0 20px 34px;
}

.registr {
  margin: 10px 0 20px 0;
}

p span {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s all;
}

p span:hover {
  color: #696666;
}

.mb-3 {
  width: 26.5%;
}
.log-in-button {
  font-family: var(--motto-font);
  font-size: 16px;
}
