@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.main_start-page {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-greetings {
  margin: 30px 0 15px 0;
  width: 50%;
  font-size: 60px;
}

.main-promo {
  margin: 0;
  width: 45%;
  font-size: 20px;
}

.main-promo span,
.main-greetings span {
  color: var(--main-orange-color);
  text-decoration: none;
  cursor: text;
}

.main-promo span:hover {
  color: var(--main-orange-color);
}

.main-start-btn {
  margin-top: 40px;
  width: 150px;
  height: 40px;
}
