.main_auth-page {
  min-height: inherit;
  width: inherit;
  background-image: url(../../assets/authorization-registration/united-3026204.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 70% 90%;
  padding: 0 15px 0 15px;
}
.main_auth-page_title {
  font-family: var(--menu-font);
  text-align: center;
}
