.main_auth-page {
  min-height: inherit;
  width: inherit;
  background-image: url(../../assets/authorization-registration/united-3026204.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 65%;
}
