.registration-popup,
.login-popup {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  background-color: #f03d3d;
  transition: 0.3s all;
}

.popup-text {
  margin: 0;
}

.popup-active {
  top: 10%;
}
