.startGame-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 35px;
  border: 1px solid black;
  border-radius: 7px;
  transition: 0.3s;
  z-index: 100;
}

.startGame-popup_btn {
  width: 100px;
  margin: 0 auto;
}