.header 
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px
  &__menu_btn
    display: block
    outline: none
    border: none
    width: 40px
    height: 40px
  &__title
    &-logo
      img
        margin-right: 20px
        margin-left: 20px  
        width: 50px
        height: 50px
        transition: 0.4s
        transition-timing-function: ease-out
        &:hover
          border-radius: 100%
  &__buttons-btn
    display: flex
    align-items: center  

