@import '../../index.sass'
.footer
  display: flex
  align-items: center
  justify-content: space-between
  padding-right: 15px
  padding-left: 15px
  height: 8vh
  &__logo
    display: block
    width: 85px
    &-svg
      width: 100%
      height: 100%  
      transition: $transition
      g
        transition: $transition
      &:hover
        .logo-fill
          fill: $main-color
  &__year
    @include font-bold
    font-size: 20px
  &__links
    list-style-type: none 
    @include font-medium
    &-link
      display: flex
      align-items: center
      color: black
      @include transition
      svg
        width: 15px
        height: 15px
        margin-right: 5px
    &:hover
      .gitLink
        color: $main-color
      .gitlogo-fill  
        fill:  $main-color

.gitlogo-fill  
  fill: black  
  @include transition
   