.word-card {
  display: flex;
  justify-content: center;
  width: 50%;
}

.card-wrapper {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  text-align: center;
  background-color: #14cb7e;
  box-shadow: 5px 5px 11px #086a41;
  border-radius: 20px;
}

.word-image {
  border-radius: 20px;
}

.word-exemple {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.word-transcription {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.word-meaning,
.word-text {
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #030303;
}

.word-meaning_translate {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: #2c2c2c;
}

.word-text_translate {
  margin: 0;
  font-size: 1.2rem;
  color: #2c2c2c;
}
