.dictionary-menu {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.dictionary-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 35px 0px;
  margin-bottom: 40px;
  justify-content: space-around;
}

.dictionary-home {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 35px;
  background: orange;
  border-radius: 10px;
  box-shadow: 7px 5px 10px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}

.dictionary-home:hover {
  box-shadow: none;
}

.dictionary-warning {
  font-family: var(--menu-font);
  width: 100%;
  text-align: center;
}
.dictionary-page {
  padding: 0 15px 40px 15px;
}
