hr
  margin: 0
.app
  &__wrapper
    display: flex
    position: relative
    overflow-x: hidden
    &-page
      height: 82vh
      flex-grow: 1
      flex-shrink: 1
      overflow: hidden
      padding-right: 70px

@media (max-width: 576px)      
  .app
    &__wrapper
      &-page
        padding-right: 15px