@mixin font-light
  font-family: 'Raleway', sans-serif
  font-weight: 200
@mixin font-medium
  font-family: 'Raleway', sans-serif
  font-weight: 400
@mixin font-bold
  font-family: 'Raleway', sans-serif
  font-weight: 700   
@mixin transition
  transition: 0.5s
  animation-timing-function: ease-out

$text-color: black  
$transition: 0.4s
$main-color: #0d6efd
$default-color: #808080
$error-color: #bc202f
$main-color_3: #ff8600



* 
  scroll-behavior: smooth
  margin: 0
  box-sizing: border-box

body 
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 16px
  color: $text-color

button 
  border: none
  outline: none
  background: none

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

.preloader 
  position: absolute
  width: 100px  
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.message-error
  display: flex
  position: absolute 
  align-items: center
  width: fit-content
  padding: 15px 25px
  bottom: 2vh
  left: 0
  @include transition
  background: $default-color
  border-radius: 0px 5px 5px 0px
  @include font-medium
  font-size: 20px
  color: $error-color
  transform: translateX(-100%)
  span
    margin-right: 10px
  &__closeBtn  
    position: absolute
    display: flex
    align-items: center
    right: -15px
    top: 50%
    @include transition
    transform: translateY(-50%)
    color: $main-color
    &:hover
      transform: scale(1.1) translateY(-50%)
.active
  @include transition
  transform: translateX(0%)


