.sprint-wrapper {
  position: relative;
  min-height: calc(90vh - 90px);
  background: url(../../../assets/game-page/sprint-bg.jpg) no-repeat;
  background-size: cover;
}

#timer {
  transition: 0.1s;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.wrapper-question-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.question-card {
  padding: 25px 35px;
  display: block;
  margin: 30px auto 0;
  text-align: center;
  width: 400px;
  height: 240px;
  border: 1px solid white;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.question-card__settings {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.question-card_indicators {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: space-between;
}

.question-card_indicators__item {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: grey;
}

.right-answer {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 251, 18, 0.13);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 251, 18, 0.13);
  box-shadow: 0px 0px 10px 10px rgba(0, 251, 18, 0.13);
}

.wrong-answer {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(251, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px 10px rgba(251, 0, 0, 0.13);
  box-shadow: 0px 0px 10px 10px rgba(251, 0, 0, 0.13);
}

.question-card__score,
.question-card__word,
.question-card__translate {
  font-family: var(--motto-font);
  font-size: 25px;
  margin-bottom: 0;
}
.question-card__word{
  text-transform: uppercase;
}

.question-card__score span {
  color: var(--main-orange-color);
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  cursor: default;
}
.question-card__score span:hover{
  color: var(--main-orange-color);
}


.question-card_btn {
  width: 100px;
  margin: 5px;
}

.question-card_indicators__item {
  transition: 0.3s
}

.correct-answer_indicator__1 {
  background: green;
}

.correct-answer_indicator__2 {
  background: purple;
}

.correct-answer_indicator__3 {
  background: gold;
}